In [11]:
import pandas as pd

Let's load the dataset and extract just the comments, rather than using the entire dataset..

In [12]:
dataset = pd.read_csv("../datasets/Dataset.csv", encoding='ISO-8859-1')
dataset.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [13]:
dataset.columns

Index(['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY',
       '_TheSpecialOne_',
       '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D'],
      dtype='object')

The dataset does not have any proper column names, lets provide some useful labels..

In [14]:
dataset.columns = ["sentiment", "id", "date", "query", "user", "tweet"]
dataset.head()

,sentiment,id,date,query,user,tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

The only neccessary features at this point of time are sentiment, and tweet features..

In [15]:
dataset = dataset.drop(columns=["id", "date", "query", "user"])

In [16]:
dataset

         sentiment                                              tweet
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1599994          4  Just woke up. Having no school is the best fee...
1599995          4  TheWDB.com - Very cool to hear old Walt interv...
1599996          4  Are you ready for your MoJo Makeover? Ask me f...
1599997          4  Happy 38th Birthday to my boo of alll time!!! ...
1599998          4  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 2 columns]

Load the transformer Model: RoBerta

In [28]:
from transformers import RobertaTokenizer, RobertaForSequenceClassification, pipeline
model_path = "cardiffnlp/twitter-roberta-base-sentiment-latest"


# GPU GO BRRR
model.to('cuda')
sentiment_pipeline = pipeline("sentiment-analysis", model=model_path, tokenizer=model_path, device=0) # device=0 means use the first GPU


result = sentiment_pipeline("""Gotta concentrate, against the clock I race
Got no time to waste, I'm already late, I got a marathoner's pace
Went from addict to a workaholic, word to Dr. Dre in that first marijuana tape
Guess I got a chronic case
And I ain't just blowin' smoke, 'less it's in your mama's face""")
print(result)

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

[{'label': 'neutral', 'score': 0.5585591793060303}]