Let's load both the datasets:

In [2]:
import pandas as pd
import torch.nn as nn
import torch.nn.functional as F
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader, TensorDataset

In [5]:
unseen_data = pd.read_json("../dataset/Sarcasm_Headlines_Dataset.json", lines=True)
unseen_data.head(3)

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1

In [6]:
unseen_data = unseen_data.drop(columns=["article_link"])

In [8]:
data = pd.read_csv("../datasets/final_Set.csv")

In [9]:
data.head(2)

,Unnamed: 0,label,comment,parent_comment
0,33,1,But they'll have all those reviews!,"The dumb thing is, they are risking their sell..."
1,44,1,wow it is totally unreasonable to assume that ...,Clinton campaign accuses FBI of 'blatant doubl...

In [10]:
data = data.drop(columns=["Unnamed: 0"])

In [11]:
data.head(2)

,label,comment,parent_comment
0,1,But they'll have all those reviews!,"The dumb thing is, they are risking their sell..."
1,1,wow it is totally unreasonable to assume that ...,Clinton campaign accuses FBI of 'blatant doubl...

In [12]:
data["text"] = data["parent_comment"] + " " + data["comment"]

In [13]:
data = data.drop(columns=["parent_comment", "comment"])

In [14]:
data.head(2)

   label                                               text
0      1  The dumb thing is, they are risking their sell...
1      1  Clinton campaign accuses FBI of 'blatant doubl...

Let's create a vectorizer for the commetns.